.boton.tres::after {
    content: "";
    background: #ffa0a0;
    height: 100%;
    top: -300px;
    height: 300px;
    width: 100%;
    position: absolute;
    transition: .5s ease-in-out all;
    border-radius: 0px 0px 300px 300px;

    z-index: 1;
}

.boton.tres:hover::after {
    top: 0;
}